{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The-tkm-tribe</title>
  <meta name="google-site-verification" content="CqklJ5ppEu5ZGiRtwKowDuz_Af1Mfhu7dQ1KpPbw3gM" />
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/modal-video/css/modal-video.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup - v2.1.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<input type="hidden" id="ls" value="{{ls}}">
  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html"><span>TKM</span>Tribe</a></h1>
        <nav id="nav-menu-container">

          <ul class="nav-menu">
            <li class="menu-active"><a href="index.html">Home</a></li>
            <li><a href="{%url 'inbox'%}">Inbox</a></li>
            <li><a href="{%url 'home'%}">BrightThoughts</a></li>
            <li><a href="{%url 'chat' receiver='global'%}">Global chat Corner</a></li>
            <li><a href="{%url 'tkmchat'%}">TkmChat</a></li>
            <li><a href="{%url 'memes'%}">Memes(beta)</a></li>
            <li><a href="{%url 'profile'%}">profile</a></li>
            <li><a href="{%url 'logout'%}">Logout</a></li>
          </ul>
        </nav>
        <i id="msg"style="opacity:0.25;">🔔 </i>
      </div>

<!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to TKMTribe</h1>
      <h2>From facebook</h2>
    <!--  <img src="{%static 'assets/img/hero-img.png'%}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
    --><a href="#get-started" id="clickme"class="btn-get-started scrollto">Get Started</a>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">





    <!-- ======= Testimonials Section ======= -->
		<a name="get-started">
    <section id="testimonials" class="padd-section text-center">

    </section><!-- End Testimonials Section -->





    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Contact</h2>
          <p class="separator">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="fa fa-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">eStartup</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{%static 'assets/vendor/modal-video/js/modal-video.min.js'%}"></script>
  <script src="{%static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{%static 'assets/vendor/superfish/superfish.min.js'%}"></script>
  <script src="{%static 'assets/vendor/hoverIntent/hoverIntent.js'%}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>
	<script type="text/javascript">
  getdata();
  notification();
  function notification(){
    $.ajax({
      type:"GET",
      data:"",
      url:"{%url 'notify_tab'%}",
      success:function(response){
        document.getElementById('msg').innerHTML="🔔"+response['message'];

      }
    })
  }
  function visualise(response){
    for(key in response){
      val=response[key];
      div1 = document.createElement('div');
      div1.setAttribute('class','row justify-content-center');
      div2 = document.createElement('div');
      div2.setAttribute('class','col-md-8');
      div3 = document.createElement('div');
      div3.setAttribute('class','testimonials-content');
      div4 = document.createElement('div');
      div4.setAttribute('class','carousel slide');
      div4.setAttribute('id','carousel-example-generic');
      div5 = document.createElement('div');
      div5.setAttribute('class','carousel-inner');
      div5.setAttribute('role','listbox');
      div6 = document.createElement('div');
      div6.setAttribute('class','carousel-item  active');
      div7 = document.createElement('div');
      div7.setAttribute('class','top-top');
      h2 = document.createElement('h2');
      h2.innerHTML= "<img src='" + val['image']+"' style='border-radius:50%;height:50px;width:50px;' > : "+val['user_name'];
      p = document.createElement('p');
      p.innerHTML = val['content'];
      a2=document.createElement('a');
      id=String(val['id']);
      str=new String("https://the-tkm-tribe.herokuapp.com/"+id+"/comment/");


      a2.setAttribute('href',str);
      h4 = document.createElement('h4');
      h4.innerHTML = "Open BrightThoughts"+"<br>"+"💖 x "+val['likes'] +'&nbsp;&nbsp;&nbsp;&nbsp;'+ "👎 x "+val['flags'];
      a2.append(h4);
      div7.append(h2,p,a2);
      div6.append(div7);
      div5.append(div6);
      div4.append(div5);
      div3.append(div4);
      div2.append(div3);
      div1.append(div2);
      div10 = document.createElement('div');
      div10.setAttribute('class',"container");
      div10.setAttribute('data-aos','fade-up');
      div10.setAttribute('id','kill');
      br = document.createElement('br');
      div10.append(div1);
      div10.append(br,br);
      document.getElementById('testimonials').append(div10);
    }
  }
  function getdata(){
  $.ajax({
    type:'POST',
    url:"{%url 'home_data'%}",
    data:"",
    success: function(response){
      while(document.getElementById('kill')){
        document.getElementById('kill').remove();
      }
      visualise(response);
    }
  })}
  function scroll(){
    document.getElementById('clickme').click();
  }
  setInterval(getdata,30000);
  setTimeout(scroll, 3000);
  setTimeout(notification, 100);
	</script>

</body>

</html>
